.navbar{
    background-color: black;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 0 10px;
    text-align: center;
    border: 2px solid #fff;
}

.logo{
    color: #fff;
    text-decoration: none;
    width: 5%;
    font-weight: bolder;
    font-size: 20px;
}


.links a{
    font-family: sans-serif;
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.links a:hover{
    text-decoration: underline;
}

.search{
    width: 75%;
}

.search input{
    width: 40%;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 16px;
    padding: 0 10px;
    font-size: 16px;
    margin-left: -550px;
}

.search input:hover,
.search input:focus{
    width: 100%;
    margin-left: 0px;
    transition: 0.5s;
}